@using Spectrum.Content.Appointments.ViewModels
@model AppointmentViewModel

<div class="center-content">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">

                <h2 class="partial-title">Appointment</h2>

                <table class="table-responsive table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <td>Appointment Id</td>
                            <td>@Model.Id</td>
                        </tr>
                        <tr>
                            <td>Created Time</td>
                            <td>@Model.CreatedTime.ToString("ddd dd MMM HH:mm")</td>
                        </tr>
                        <tr>
                            <td>Created By</td>
                            <td>@Model.CreatedUser</td>
                        </tr>
                        <tr>
                            <td>Last Updated Time</td>
                            <td>@Model.LastUpdatedTime.ToString("ddd dd MMM HH:mm")</td>
                        </tr>
                        <tr>
                            <td>Last Updated By</td>
                            <td>@Model.LastedUpdatedUser</td>
                        </tr>
                        <tr>
                            <td>Start Time</td>
                            <td>@Model.StartTime.ToString("ddd dd MMM HH:mm")</td>
                        </tr>
                        <tr>
                            <td>Duration (In Minutes)</td>
                            <td>@Model.Duration</td>
                        </tr>
                        <tr>
                            <td>Payment Id</td>
                            <td>@Model.PaymentId</td>
                        </tr>
                        <tr>
                            <td>Location</td>
                            <td>@Model.Location</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>@Model.Description</td>
                        </tr>

                        <tr>
                            <td class="attendees-list" colspan='2'>Attendees</td>
                        </tr>

                        @foreach (var item in Model.Attendees)
                        {
                            <tr><td colspan='2'>@item</td></tr>
                        }

                    </tbody>
                </table>

                <a class="btn btn-lg btn-primary btn-block button-stack" role-"button" href="@Model.UpdateAppointmentUrl">Update Appointment</a>
                <a class="btn btn-lg btn-primary btn-block" role-"button" href="@Model.DeleteAppointmentUrl" id="deleteAppointment">Delete Appointment</a>

            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    $(document).ready(function () {

        $('#deleteAppointment').click(function () {
            event.preventDefault();

            confirm("Confirm you want to delete this apppointment",
                function () {
                    var href = $('#deleteAppointment').attr('href');

                    $.ajax({
                        url: href,
                        success: function (data) {
                            window.location.href = data;
                        }
                    });
                });
        });
    });

    //// TODO : move to an external js file for reuse?
    window.confirm = function (message, callback, caption) {
        caption = caption || 'Confirmation';
        $(document.createElement('div')).attr({
            title: caption,
            'class': 'dialog'
        }).html(message).dialog({
            dialogClass: 'fixed',
            buttons: {
                "OK": function () {
                    $(this).dialog('close');
                    callback();
                    return true;
                },
                "Cancel": function () {
                    $(this).dialog('close');
                    return false;
                }
            },
            close: function () {
                $(this).remove();
            },
            draggable: false,
            modal: true,
            resizable: false,
            width: 'auto'
        });
    };

</script>