@using Spectrum.Content.Appointments.ViewModels
@model IEnumerable<AppointmentViewModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Start</th>
            <th>End</th>
            <th>Status</th>
            <th>Payment Id</th>
            <th>Location</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (AppointmentViewModel appointment in Model)
        {
            <tr>
                <td>@appointment.Id</td>
                <td>@appointment.StartTime.ToString("dd MMM yyyy HH:mm:ss")</td>
                <td>@appointment.EndTime.ToString("dd MMM yyyy HH:mm:ss")</td>
                <td>@appointment.Status</td>
                <td>
                    @if (appointment.PaymentId != string.Empty)
                    {
                        <a data-ajax="true"
                           data-ajax-mode="replace"
                           data-ajax-update="#transaction"
                           data-ajax-success="onTransaction"
                           href="/umbraco/Surface/Transactions/View/@appointment.PaymentId">@appointment.PaymentId</a>
                    }
                </td>
                <td>@appointment.Location</td>
                <td>@appointment.Description</td>
                <td>
                    <a data-ajax="true" 
                       data-ajax-mode="replace" 
                       data-ajax-update="#Appointment" 
                       data-ajax-success="onAppointmentView"
                       href="/umbraco/Surface/Appointments/View/@appointment.Id">View</a>
                    |
                    <a data-ajax="true" 
                       data-ajax-mode="replace" 
                       data-ajax-update="#Appointment" 
                       data-ajax-success="onAppointmentEdit"
                       href="/umbraco/Surface/Appointments/Edit/@appointment.Id">Edit</a>
                    |
                    <a data-ajax="true"
                       data-ajax-mode="replace"
                       data-ajax-success="onAppointmentDeleted"
                       data-ajax-confirm="Confirm you want to delete appointment @appointment.Id"
                       href="/umbraco/Surface/Appointments/Delete/@appointment.Id">Delete</a>  
                </td>
            </tr>
        }

    </tbody>
</table>

<div id="Appoiontment"></div>

<script type="text/javascript">

    function onAppointmentView() {
        jQuery('#Appoiontment').dialog({ 'width': 400, 'height': 300 });
        jQuery('#Appoiontment').dialog().css("background-color", "#eaecef");
    }

    function onAppointmentEdit() {
        jQuery('#Appoiontment').dialog({ 'width': 400, 'height': 300 });
        jQuery('#Appoiontment').dialog().css("background-color", "#eaecef");
    }

    function onAppointmentDeleted() {
        location.reload();
    }

</script>
