@using Spectrum.Content.Appointments.ViewModels
@model AppointmentViewModel

<table class="table table-striped">
    <tbody>
        <tr>
            <td>Appointment Id</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Created Time</td>
            <td>@Model.CreatedTime.ToString("dd MMM yyyy HH:mm")</td>
        </tr>
        <tr>
            <td>Created By</td>
            <td>@Model.CreatedUser</td>
        </tr>
        <tr>
            <td>Start Time</td>
            <td>@Model.StartTime.ToString("dd MMM yyyy HH:mm")</td>
        </tr>
        <tr>
            <td>End Time</td>
            <td>@Model.EndTime.ToString("dd MMM yyyy HH:mm")</td>
        </tr>
        <tr>
            <td>Payment Id</td>
            <td>@Model.PaymentId</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>@Model.Location</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>@Model.Description</td>
        </tr>
    </tbody>
</table>

