@using Spectrum.Content.Appointments.ViewModels
@model AppointmentViewModel

<table class="table table-striped">
    <tbody>
        <tr>
            <td>Appointment Id</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Created Time</td>
            <td>@Model.CreatedTime.ToString("ddd dd MMM HH:mm")</td>
        </tr>
        <tr>
            <td>Created By</td>
            <td>@Model.CreatedUser</td>
        </tr>
        <tr>
            <td>Start Time</td>
            <td>@Model.StartTime.ToString("ddd dd MMM HH:mm")</td>
        </tr>
        <tr>
            <td>Duration (In Minutes)</td>
            <td>@Model.Duration</td>
        </tr>
        <tr>
            <td>Payment Id</td>
            <td>@Model.PaymentId</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>@Model.Location</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>@Model.Description</td>
        </tr>
    
    <tr>
        <td colspan='2'>Attendees</td>
    </tr>
        
    @foreach (var item in Model.Attendees)
    {
        <tr><td>@item</td></tr>
    }

    </tbody>
</table>

