@using Spectrum.Content.Appointments.Controllers
@model Spectrum.Content.Appointments.ViewModels.AppointmentViewModel
@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

@using (Html.BeginUmbracoForm<AppointmentsController>("UpdateAppointment"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div>
            <div class="row">
                <div class="form-group col-xs-8">
                    <div>
                        <label class="control-label">Start Time</label>
                    </div>
                    <div>
                        @Html.TextBoxFor(model => model.StartTime, "{0:dd-MMM-yyyy HH:mm}", new {@class = "date"})
                        <span class="btn" style="cursor: pointer;">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        @Html.ValidationMessageFor(model => model.StartTime)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-8">
                    <div>
                        <label class="control-label">End Time</label>
                    </div>
                    <div>
                        @Html.TextBoxFor(model => model.EndTime, "{0:dd-MMM-yyyy HH:mm}", new {@class = "date"})
                        <span class="btn" style="cursor: pointer;">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        @Html.ValidationMessageFor(model => model.EndTime)                       
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-8">
                    <div>
                        <label class="control-label">Location</label>
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Location)
                        @Html.ValidationMessageFor(model => model.Location)                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-8">
                    <div>
                        <label class="control-label">Description</label>
                    </div>
                    <div>
                        @Html.TextAreaFor(model => model.Description, 5, 80, null)
                        @Html.ValidationMessageFor(model => model.Description)                    
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col-xs-8">
                    <div>
                        <label class="control-label">Attendees</label>
                    </div>
                    <div>
                    </div>
                </div>
            </div>

            <button value="submit" id="submit" class="btn btn-success btn-lg">Save Appointment</button>
    </div>

    <script>
        $(document).ready(function () {

            $('.input-validation-error').parents('.form-group').addClass('has-error');
            $('.field-validation-error').addClass('text-danger');

            $('.date').datetimepicker(
                {
                    dateFormat: 'dd-M-yy',
                    controlType: 'select',
                    hourMin: 8,
                    hourMax: 20,
                    stepMinute: 5, 
                    oneLine: true
                });

            $('.btn').click(function() {
                $(".date", $(this).closest(".form-group")).focus();
            });

            container.focus();
        });

    </script>
}



