@using Spectrum.Content.Appointments.Controllers
@model Spectrum.Content.Appointments.ViewModels.AppointmentViewModel
@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

@using (Html.BeginUmbracoForm<AppointmentsController>("UpdateAppointment"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="center-content">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">

                    <h2 class="partial-title">Update Appointment</h2>

                    <div class="calendar-position form-group">
                        @Html.TextBoxFor(model => model.StartTime, "{0:dd-MMM-yyyy HH:mm}", new { @class = "date form-control" })
                        <span class="btn" style="cursor: pointer;">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.StartTime)

                    @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control", @placeholder = "Duration (In minutes)" } })
                    @Html.ValidationMessageFor(model => model.Duration)

                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @placeholder = "Location" } })
                    @Html.ValidationMessageFor(model => model.Location)

                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Description", @rows = "5" })
                    @Html.ValidationMessageFor(model => model.Description)

                    <div>
                        <label class="control-label">Attendees</label>
                    </div>
                    <div class="calendar-position form-group">
                        <input class="form-control" id="attendeeInput" placeholder="Enter email address" data-val="true" data-val-required="Please enter a valid Email Address">
                        <span class="btn" style="cursor: pointer;">
                            <span class="glyphicon glyphicon-plus" id="addAttendee"></span>
                        </span>
                        <div>
                            <span class="field-validation-valid" data-valmsg-for="attendeeInput" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <ul id="attendeeList" class="list-group" style="list-style-type: none;">
                        @Html.DisplayFor(model => model.Attendees)

                        @if (Model.Attendees != null)
                        {
                            foreach (string attendee in Model.Attendees)
                            {
                                <li style="padding-top:10px">
                                    <input class="form-control" id="Attendees_' + index + '" name="Attendees[' + index + ']" value='" + attendee "'>
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="#" onclick="$(this).parent().remove();updateAttendees();"><span class="glyphicon glyphicon-remove"></span></a>' +
                                </li>
                            }
                        }

                    </ul>

                    <script src="../../../../scripts/spectrum/appointment.js"></script>

                    <button value="submit" id="submit" class="btn btn-lg btn-primary btn-block">Update Appointment</button>

                </div>
            </div>
        </div>
    </div>


    <script>

        $(document).ready(function () {

            $('.input-validation-error').parents('.form-group').addClass('has-error');
            $('.field-validation-error').addClass('text-danger');

            initialiseDatePicker();

            $('.btn').click(function() {
                $(".date", $(this).closest(".form-group")).focus();
            });

            $('#addAttendee').click(function () {

                event.preventDefault();
                var inputValue = $('#attendeeInput').val();
                var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

                if (!filter.test(inputValue)) {
                    addErrorFields();
                } else {

                    var items = document.getElementById("attendeeList").getElementsByTagName("li");
                    var index = items.length;

                    $('#attendeeList').prepend(prependAttendee(index, inputValue));

                    $('#attendeeInput').val('');
                    $('span[data-valmsg-for="attendeeInput"]').text('');
                }
            });

            $('form').submit(function(event) {
                $('#submit').prop('disabled', true);
            });
        });

    </script>
}