@using Spectrum.Content.Invoices.Controllers
@model Spectrum.Content.Invoices.ViewModels.CreateInvoiceViewModel
@{
}

@using (Html.BeginUmbracoForm<InvoicesController>("CreateInvoice"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="center-content">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">

                    <h2 class="partial-title">Create Invoice</h2>

                    <label class="control-label">Invoice Date *</label>
                    <div class="calendar-position form-group">
                        @Html.TextBoxFor(model => model.Date, "{0:dd-MMM-yyyy}", new { @class = "date form-control" })
                        <span class="btn" style="cursor: pointer;">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>



                    <label class="control-label">Client Name *</label>
                    @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ClientName)

                    @Html.Action("GetAddressSearch", "Search")

                    <label class="control-label">Client Email Address *</label>
                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailAddress)

                    <label class="control-label">Invoice Amount *</label>
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount)

                    <label class="control-label">Details *</label>
                    @Html.TextAreaFor(model => model.Details, new { @class = "form-control", rows = "5" })
                    @Html.ValidationMessageFor(model => model.Details)
                    
                    @if (Model.ShowIncludePaymentLink)
                    { 
                        <div class="checkbox">
                            <label>@Html.CheckBoxFor(model => model.IncludePaymentLink)&nbsp;@Html.DisplayNameFor(model => model.IncludePaymentLink)</label>
                        </div>
                    }
                    
                    @Html.Partial("Spectrum/Required")

                    <button value="submit" id="submit" class="btn btn-lg btn-primary btn-block">Save Invoice</button>

                </div>
            </div>
        </div>
    </div>

    <script>

        $(document).ready(function () {

            $('.input-validation-error').parents('.form-group').addClass('has-error');
            $('.field-validation-error').addClass('text-danger');

            $('.btn').click(function () {
                $(".date", $(this).closest(".form-group")).focus();
            });

            initialiseDatePicker();
        });

        function initialiseDatePicker() {

            $('.date').datepicker({ dateFormat: 'dd-M-yy'});
        }

    </script>
}