@using Spectrum.Content.Authentication.Controllers
@model Spectrum.Content.Authentication.ViewModels.LoginViewModel
@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

@using (Html.BeginUmbracoForm<LoginController>("HandleLogin"))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)

    <div class="container">
        <div class="row login">
            <div class="col-sm-6 col-md-4 col-md-offset-4">

                <div class="account-wall">

                    <h1 class="login-title">Login</h1>
                    <input type="text" class="form-control" id="EmailAddress" name="EmailAddress" placeholder="Email" required autofocus>
                    @Html.ValidationMessageFor(model => model.EmailAddress)
                    <input type="password" class="form-control" placeholder="Password" id="Password" name="Password" required>
                    @Html.ValidationMessageFor(model => model.Password)
                    <button value="submit" id="submit" class="btn btn-lg btn-primary btn-block">Login</button>

                    <div class="row">
                        <div class="form-group col-xs-8">
                            <p>@TempData["Status"]</p>
                        </div>
                    </div>

                    <!--label class="checkbox text-center">
                    <input type="checkbox" value="remember-me">
                    Remember me
                    </label-->

                </div>
                <!--a href="#" class="text-center new-account">Create an account </a-->
            </div>
        </div>
    </div>
}