@inherits UmbracoTemplatePage
@{
    var root = CurrentPage.AncestorOrSelf(1);
}

<ul>
    
    <li class="@(root.IsAncestorOrSelf(CurrentPage) ? "current" : null)">
        <a href="@root.Url">@root.Name</a>
    </li>

    @foreach (var page in root.Children)
    {
        <li class="@(page.IsAncestorOrSelf(CurrentPage) ? "current" : null)">
            <a href="@page.Url">@page.Name</a>
        </li>
    }
</ul>