@inherits UmbracoTemplatePage
@{
    var home = @CurrentPage.Site();
    var currPage = @CurrentPage.Name;
}

<nav class="navbar navbar-default spectrum-nav @currPage.ToLower()" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#spectrumNav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="navbar-brand">
                    @User.Identity.Name - @Html.Action("CustomerName", "Customer")
                </div>
            }
    </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="spectrumNav">
            @Html.Action("GetMenu", "MainNavigation")
        </div>
    </div>
</nav>

@if (User.Identity.IsAuthenticated)
{
    <div class="user-id @currPage.ToLower()">@User.Identity.Name - @Html.Action("CustomerName", "Customer")</div>
}
