@using Spectrum.Content.Payments.ViewModels
@model BraintreeTransactionViewModel

<table class="table table-striped table-bordered">
<tbody>
    <tr>
        <td>Payment Id</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Date</td>
        <td>
            @if (Model.TransactionDateTime.HasValue)
            {
                @Model.TransactionDateTime.Value.ToString("dd MMM yyyy HH:mm:ss")
            }
        </td>
    </tr>
    <tr>
        <td>Type</td>
        <td>@Model.Type</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>@Model.Status</td>
    </tr>
    <tr>
        <td>Payment Information</td>
        <td>@Model.CardType @Model.MaskedNumber</td>
    </tr>
    <tr>
        <td>Amount</td>
        <td>@Model.Amount @Model.CurrencyType</td>
    </tr>
</tbody>
</table>